.buy {
    background: #FF9C7D;
    }
    
    .buy h2 {
      padding: 161px 253px 29px 253px ;
      font-size: 65px;
      line-height: 75px;
      text-align: center;
    }
    
    .buy p {
      font-size: 20px;
      line-height: 30px;
      text-align: center;
      padding: 0 426px 54px 426px;
    
    }
    
    .buy button {
      margin:0 565px 121px 565px;
      background-color: #000000;
      border: #000000;
    }