.commentary {
    margin-top: 182px;
    background-color: #C9E8F2;
  }
  .commentary-text1 {
    font-size: 30px;
    line-height: 40px;
    padding-top: 68px;
    padding-right: 26px;
  }
  .commentary-text2 {
    padding: 23px 0 7px 0;
    font-size: 15px;
    line-height: 25px;
  }
  .commentary-photo {
    padding: 58px 0 105px 85px;
  }