.footer {
    margin-bottom: 95px;
  }
  
  .footer-nav-content h4 {
    margin: 92px 0 28px 20px;
    font-size: 40px;
    line-height: 50px;
  }
  
  .footer-nav-content p {
    width: 284px;
    font-size: 20px;
    line-height: 30px;
    margin: 11px 0 15px 20px;
  }
  
  .footer-nav-content img {
    display: block;
    margin-left: 20px;
   
  }
  
  .footer-nav-content img:first-of-type {
    margin-bottom: 31px;
  }
  
  .footer-nav-content a {
    font-family: $font-family;
    font-size: 20px;
    line-height: 30px;
    margin-left: 20px;
  }
  .footer-nav {
    margin-top: 97px;
    
  }
  
  .footer-nav:first-of-type {
    margin-left: 135px;
  }
  
  .footer-nav h5 {
    margin-bottom: 21px;
  }
  
  .footer-list {
    margin-right: 33px;
  }
  
  .footer-nav .margin{
    margin-right: 0px;
  }
  
  .footer-list li {
    width: 182px;
    font-size: 15px;
    line-height: 15px;
    margin-bottom: 15px;
  }
  
  .footer-list li:last-of-type {
    margin-bottom: 0;
  }
  
  .footer-bottom-content {
    margin-top: 48px;
  }
  .footer-bottom img {
    margin-right: 14px;
  }
  .footer-bottom p {
    font-size: 12px;
    line-height: 15px;
  }
  
  .footer-bottom-text {
    width: 291px;
    padding: 5px 0 5px 0;
  }
  .footer-bottom-text2 p:first-child {
    margin-top: 48px;
    margin-right: 109px;
  }
  .small-container {
    width: 1251px;
    margin: 0 auto;
  }
  .footer-bottom {
    border-top: 1px solid black;
    margin-bottom: 48px;
  }

  @media (max-width: 1200px) {
    .footer-nav-content h4 {
      margin: 50px 0 28px 20px;
      font-size: 40px;
      line-height: 50px;
    }
    .footer-nav-main {
      margin-left: 50px;
      flex-wrap: wrap;
    }
    .footer-nav{
      margin-top: 50px;
    }
    .footer-list li {
      width: auto;
      font-size: 14px;
    }
    .footer-list_width {
      width: 130px;
    }
    .footer-nav:first-of-type {
      margin-left: 0px;
    }
    .small-container {
      width: auto;
      margin: 0 auto;
    }
    .footer-bottom {
      justify-content: space-between;
    }
    
  }

   @media (max-width: 768px) {
    .footer-nav-content h4 {
      margin: 50px 0 28px 20px;
      font-size: 40px;
      line-height: 50px;
    }
    .footer {
      flex-direction: column;
    }

    .footer-nav-main {
      
      flex-wrap: wrap;
    }
    .footer-nav{
      margin-top: 50px;
    }
    .footer-list li {
      width: auto;
      font-size: 14px;
    }
    .footer-list_width {
      width: 130px;
    }
    .footer-nav:first-of-type {
      margin-left: 0px;
    }
    .footer-bottom {
      flex-direction: column;
    }

    .small-container {
      width: auto;
      margin: 0 auto;
    }
  }
  
  @media (max-width: 768px) {
    .footer-nav-content h4 {
      margin: 50px 0 28px 20px;
      font-size: 40px;
      line-height: 50px;
    }
    .footer {
      flex-direction: column;
    }

    .footer-nav-main {
      
      flex-wrap: wrap;
    }
    .footer-nav{
      margin-top: 50px;
    }
    .footer-list li {
      width: auto;
      font-size: 14px;
    }
    .footer-list_width {
      width: 130px;
    }
    .footer-nav:first-of-type {
      margin-left: 0px;
    }
    .footer-bottom {
      flex-direction: column;
    }

    .small-container {
      width: auto;
      margin: 0 auto;
    }
  }
  
  

  
  