.footer {
    margin-bottom: 95px;
  }
  
  .footer-nav-content h4 {
    margin: 92px 0 28px 20px;
    font-size: 40px;
    line-height: 50px;
  }
  
  .footer-nav-content p {
    width: 284px;
    font-size: 20px;
    line-height: 30px;
    margin: 11px 0 15px 20px;
  }
  
  .footer-nav-content img {
    display: block;
    margin-left: 20px;
   
  }
  
  .footer-nav-content img:first-of-type {
    margin-bottom: 31px;
  }
  
  .footer-nav-content a {
    font-family: 'Graphik-Semibold';
    font-size: 20px;
    line-height: 30px;
    margin-left: 20px;
  }
  .footer-nav {
    margin-top: 97px;
    
  }
  
  .footer-nav:first-of-type {
    margin-left: 135px;
  }
  
  .footer-nav h5 {
    margin-bottom: 21px;
  }
  
  .footer-list {
    margin-right: 33px;
  }
  
  .footer-nav .margin{
    margin-right: 0px;
  }
  
  .footer-list li {
    width: 182px;
    font-size: 15px;
    line-height: 15px;
    margin-bottom: 15px;
  }
  
  .footer-list li:last-of-type {
    margin-bottom: 0;
  }
  
  .footer-bottom-content {
    margin-top: 48px;
  }
  .footer-bottom img {
    margin-right: 14px;
  }
  .footer-bottom p {
    font-size: 12px;
    line-height: 15px;
  }
  
  .footer-bottom-text {
    width: 291px;
    padding: 5px 0 5px 0;
  }
  .footer-bottom-text2 p:first-child {
    margin-top: 48px;
    margin-right: 109px;
  }
  .small-container {
    width: 1251px;
    margin: 0 auto;
  }
  .footer-bottom {
    border-top: 1px solid black;
    margin-bottom: 48px;
  }
  
  
  
  