.content-integrate {
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  
  .content-integrate h2 {
    width: 791px;
    font-size: 65px;
    line-height: 75px;
    text-align: center;
    margin: 169px 250px 0 249px;
  }
  
  .content-integrate p {
    width: 539px;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    margin: 0 376px 25px 375px;
  }
  
  .content-integrate img {
    margin-left: 134px;
  }
  
  .content-integrate button {
    font-size: 16px;
    line-height: 60px;
    margin: 32px 548px 160px 548px;
  }