.content-integrate {
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  
  .content-integrate h2 {
    width: 791px;
    font-size: 65px;
    line-height: 75px;
    text-align: center;
    margin: 169px 250px 0 249px;
  }
  
  .content-integrate p {
    width: 539px;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    margin: 0 376px 25px 375px;
  }
  
  .content-integrate img {
    margin-left: 134px;
  }
  
  .content-integrate button {
    font-size: 16px;
    line-height: 60px;
    margin: 32px 548px 160px 548px;
  }
  @media (max-width: 768px) {
    .content-integrate img {
      width: 100%;
      margin-left: auto;
    }
    .content-integrate {
      display: flex;
      flex-direction: column;
    }
    .content-integrate h2 {
      width: auto;
      text-align: center;
      margin: 50px 0px 0 0px;
    }
    
    .content-integrate p {
      width: auto;
      text-align: center;
      margin: 25px 0px 25px 0px;
    }

    .content-integrate button {
      font-size: 16px;
      line-height: 60px;
      margin: 32px 0 50px 0;
    }
  }