.managment {
    background: #DABC98;
  }
  
  .managment-content img {
    padding: 89px 67px 84px 0;
  }
  .managment-content h4 {
    padding-top: 47px;
    font-size: 35px;
    line-height: 50px;
    text-align: left;
    height: 168px;
    border-right: 1px solid black;
  }

  .managment-img-content {
    padding: 0 70px 0 71px;
  }
  
  .managment-company {
    padding-top: 109px;
  }
  .managment-star {
    padding: 20px 0 14px 0;
  }
  .managment-img p {
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 0.75px;
  }
  @media (max-width: 1200px) {
    .managment-content h4 {
      padding-right: 10px;
      font-size: 30px;
      line-height: 35px;
    }
    .managment-content img {
      padding: 89px 25px 84px 0;
    }
    .managment-img-content {
      padding: 0 15px 0 15px;
    }
    
  }
  @media (max-width: 991px) {
    .managment-content h4 {
      padding-top: 0px;
  }
}

  @media (max-width: 768px) {
    .managment .container {
      flex-direction: column;
    }

    .managment-img {
      justify-content: space-evenly;
      margin-bottom: 50px;
    }

    .managment-img-content {
      max-width: 248px;
      padding: 0px;
      text-align: center;
    }
    .managment-content {
     flex-direction: column-reverse;
    }
    .managment-content img {
      padding: 89px 0px 84px 0px;
    }

    .managment-content h4 {
      border-right: none;
      text-align: center;
      padding-top: 47px;
    }
    .managment-company {
      padding-top: 0px;
    }
  }
 
