.managment {
    background: #DABC98;
  }
  
  .managment-content img {
    padding: 89px 67px 84px 0;
  }
  .managment-content h4 {
    padding-top: 47px;
    font-size: 35px;
    line-height: 50px;
    text-align: left;
    height: 168px;
    border-right: 1px solid black;
  }

  .managment-img-content {
    padding: 0 70px 0 71px;
  }
  
  .managment-company {
    padding-top: 109px;
  }
  .managment-star {
    padding: 20px 0 14px 0;
  }
  .managment-img p {
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 0.75px;
  }