.company {
    background: #FF9C7D;
  }
  .company-text h2 {
    width: 700px;
    text-align: center;
    padding: 98px 0 70px 0;
    margin-left: 340px;
  
  
  }
  .company-logo {
    justify-content: space-around;
    padding-bottom: 95px;
  }
  @media (max-width: 1200px){
    .company-text h2 {
      width: auto;
      margin: 0px;
    
    }
    .company-logo {
      flex-wrap: wrap;
      gap: 12px;
    }
  }
  @media (max-width: 768px){
    .company-text h2 {
      width: auto;
      margin: 0px;
    
    }
    .company-logo {
      flex-wrap: wrap;
      gap: 12px;
    }
  }
 
 